[2021-07-02 07:42] #182 closed, assigned to nobody

[2021-07-02 07:49] natumbri commented on #178
Thanks @Deep-Six for the suggestion.

When you say `As a user of youtube-music` do you mean that you have `musicapi_enabled = true` in your `mopidy.conf`?  Or do you mean that you are a user of youtube-music, more generally?

[2021-07-02 07:52] natumbri commented on #175
This will happen in the next release.  It has already been implemented in the [yt-playlists branch](/natumbri/mopidy-youtube/tree/feature/yt-playlists), which will be the basis for the next release version.

[2021-07-02 07:52] #175 closed, assigned to nobody

[2021-07-02 07:54] natumbri commented on #170
Not sure where to go with this; I'll include a minimal cookie in the next version, and we'll see what happens.

In the meantime, the cookie is included in the [yt-playlists branch](/natumbri/mopidy-youtube/tree/feature/yt-playlists), which will form the basis for the next release version.

[2021-07-02 07:54] #170 closed, assigned to nobody

[2021-07-02 07:56] natumbri commented on #162
@arnew I'm going to close this, on the basis that the [yt-playlists branch](/natumbri/mopidy-youtube/tree/feature/yt-playlists) (which will form the basis for the next release version) will solve this issue.

Feel free to re-open (and explain why) if you disagree.

Cheers,
Nik

[2021-07-02 07:56] #162 closed, assigned to nobody

[2021-07-02 07:57] natumbri commented on #161
@thanxx - I'm going to close this issue now; thanks to your contribution, it looks like we are well on the way.

[2021-07-02 07:57] #161 closed, assigned to nobody

[2021-07-02 07:58] natumbri commented on #154
I'll assume this is resolved.

[2021-07-02 07:58] #154 closed, assigned to nobody

[2021-07-02 08:07] natumbri commented on #151
Hi @sprnza , @balsoft More Youtube Music support is on the way.

Browsing your own playlists is now supported in the [yt-playlists branch](/natumbri/mopidy-youtube/tree/feature/yt-playlists).  There's no documentation yet, so have a look in #174 and #183 to see how it is supposed to work.

I'm going to close this issue, given the work that is being done on the `yt-playlists` branch.  If there are

[2021-07-02 08:07] #151 closed, assigned to nobody

[2021-07-02 08:16] Deep-Six commented on #178
The former, I have the music API = true.

[2021-07-02 08:48] thanxx commented on #161
@natumbri thank you as well,
I am still planning to fix other things I mentioned in the #184

[2021-07-02 10:54] natumbri commented on #178
Thanks. Interesting - you should only be getting albums and songs.

[2021-07-02 23:41] natumbri commented on #185
Is it to do with the different headers passed to ytmusic?

[2021-07-03 05:39] #153 closed, assigned to nobody

[2021-07-03 06:21] codeasashu commented on #185
@natumbri yes it is still happening. I am yet to try the c545267e3961658898f81b2ef71cf0aa234947b3 commit. Will let you know if that works.

[2021-07-03 07:36] codeasashu commented on #185
I have tried c545267 commit. It seems working. Feel free to edit the PR to `fixes #185` to autoclose this issue

[2021-07-03 17:13] thanxx commented on #185
hey guys, I would like to pay attention to Youtube API, autoplay is not working there as well. I am on the latest commit in `feature/yt-playlists`.

when playing a track I see a message in logs

[code]
however, the request is successful
[code]

I will try to figure out and maybe fix it

logs
[code]

[2021-07-03 23:58] natumbri commented on #185
@thanxx  - thanks for that report; I think you are right!

Autoplay with the youtube API *and* ytmusicapi enabled *and* ytmusicapi authenticated it works for me just fine - playing `youtube:video:SRbCxTVUzkw` results in autoplay adding `youtube:video:SNq4zqTN_DQ` to the queue:
[code]

But with youtube API and ytmusic enabled *but not authenticated*, or with youtube API *only* (no ytmusicapi), it f

[2021-07-04 01:21] natumbri commented on #185
@thanxx - actually, on further investigation, it looks like the related videos for `youtube:video:SRbCxTVUzkw` are mostly really long.  I added a line to log the length of the related videos returned and this is what I got:
[code]
This is the intended behaviour.

The rationale for the default of 600s is the assumption that a person using the autoplayer wants to hear individual tracks in succession

[2021-07-04 09:05] thanxx commented on #185
@natumbri yes, looks like it's not a bug!
I changed the setting to several hours and I get related videos now.
I indeed prefer listening albums/mixes that obviously have lengths more than 600s.
huge thanks for sorting this out

[2021-07-05 01:40] #185 closed, assigned to nobody

[2021-07-09 07:56] natumbri commented on #178
Currently it returns YouTube Music albums as mopidy albums and tracks.  I think it is enough to return them as albums.  #192 should make that change.

[2021-07-10 03:25] afredsa opened #193 "mopidy-youtube not able to read metadata from youtube."
Hello,

I have been using the youtube extension for a while; however, a month or more back it stopped doing searches and bringing back the metadata into existing playlists.   I can create a valid Mopidy URI and add it and it will play from YT.  And all existing URIs in playlists, still work but after a refresh of the playlists  ( in IRIS) the video info is all gone and the URIs are shown as seen l

[2021-07-11 09:06] thanxx commented on #184
at the current state of `feature/yt-playlists` the playlist lookup doesn't return tracks/videos and even empty array on YoutubeAPI.
however, on newer branches it's fixed

[2021-07-17 12:37] thanxx commented on #184
@natumbri could you please delete the following issue, as it turned out to be a default setting
[code]

[2021-07-18 01:18] djmattyg007 commented on #193
In theory there's already a fix for this problem in #170. Unfortunately the fix has not yet found its way into a release.

[2021-07-18 16:34] afredsa commented on #193
That is the reference I was referring to when I updated to the feature/yt_playlist tre, where @natumbri stated he updated that branch with the work around...  I upgraded to that branch and it had not effect.   It may have done more but it updated the ytmusicapi that I do not use.

I am a bit of a  git noob, could someone point me to how to add the fix/patch.  (Should I downrev to the release, then

[2021-07-23 09:29] T0MuX commented on #181
Hi, sorry for the late.

I updated everything (whole system, and mopidy-youtube), and still have the same issue :

[code]

[2021-07-27 18:49] afredsa commented on #193
There was some new error info in journalctl when executing:

[code]

[2021-07-28 07:00] natumbri commented on #193
Weird.  Thanks @afredsa.  I didn't have any trouble adding and playing `youtube:video:06ht9MyJLT4`.  I haven't seen this before: `ERROR    [ThreadPoolExecutor-2_0] mopidy_youtube list_videos error "Extra data: line 1 column 175110 (char 175109)"` and I'm not sure how to trigger it, which makes debugging your problem quite tricky...

Are you sufficiently confident to find and edit the python source

[2021-07-29 07:42] T0MuX commented on #181
Hi, I still have this issue, is it possible to open it again please ?

[2021-07-29 09:15] natumbri commented on #181
Sure. I can't replicate the error though, so it will be hard to fix...  Are you able to try with python 3.7 or 3.8?

[2021-07-29 09:15] natumbri commented on #181
Reopening

[2021-07-29 09:16] natumbri commented on #181
Sure. I can't replicate the error though, so it will be hard to fix... Are you able to try with python 3.7 or 3.8?

[2021-08-02 04:26] natumbri opened #197 "thumbnails"
Trying to tidy up treatment of thumbnails.  @thanxx and @codeasashu, any chance you could test (for youtube API and youtube music, respectively)?

The  branch is [fix/thumbnails](/natumbri/mopidy-youtube/tree/fix/thumbnails).

Any feedback appreciated.

Cheers,
Nik

[2021-08-02 08:07] thanxx commented on #197
I am getting errors on this branch with API enabled:
`TypeError: 'Video' object is not iterable`

also, I can't see thumbnails
![image](https://user-images.githubusercontent.com/21316174/127826403-280447fc-2ea5-4b73-857b-d6dfad91e582.png)

[code]

[2021-08-02 12:14] natumbri commented on #197
Yeah, thanks @thanxx - I think I have stuffed something up.  I have tried to make a quick fix - please feel free to test it out, if you feel like it.  But I think it may be back to the drawing board with this one, for a more fundamental rethink.

Cheers,
Nik

[2021-08-02 14:17] codeasashu commented on #197
@natumbri I use ncmpcpp which doesn't have thumbnail support (or maybe I don't have any idea about it). I'll try some web player to test out the thumbnails in ytmusic

[2021-08-04 10:42] natumbri commented on #181
@T0MuX try the new [fix/thumbnails](/natumbri/mopidy-youtube/tree/fix/thumbnails).

While I was trying to fix the thumbnail support, I started to get an error a bit like yours. Turns out the format of the data YouTube was sending changed unexpectedly. I fixed it - maybe it will solve your problem?

[2021-08-04 10:43] natumbri commented on #193
@afredsa try the new [fix/thumbnails](/natumbri/mopidy-youtube/tree/fix/thumbnails).

While I was trying to fix the thumbnail support, I started to get an error a bit like yours. Turns out the format of the data YouTube was sending changed unexpectedly. I fixed it - maybe it will solve your problem?

[2021-08-04 10:43] #178 closed, assigned to nobody

[2021-08-04 11:04] natumbri opened #198 "A 'Channel' should be an object, like a Video or a Playlist"
A 'Channel' should be an object, like a Video or a Playlist. With a `load_info` method and `playlists`, in the same way that Playlists have Videos and Videos have related videos.

I don't really know why, but it seems like the correct thing to do...

[2021-08-04 11:11] natumbri commented on #197
Ok, I made a bunch of improvements; it should work now. And I got distracted by the autoplay functionality, so that might work better (or it, too, might be broken now).

Cheers
Nik

[2021-08-08 12:09] natumbri commented on #176
Okay - @djmattyg007  that is a persuasive argument - my partner would also just do it a different way. (And would be none too happy that I had tried it on with a "why don't you just SSH into the server...').  So, in the interests of happy partners, and a slightly less clogged up internet, try this: [feature/cache](/natumbri/mopidy-youtube/tree/feature/cache)

Config option required:
[code]

Basica

[2021-08-08 12:13] natumbri commented on #131
Okay - I don't see much benefit in cached metadata, given that (other than for the actual url for the youtube file) it is retrieved pretty quickly; but I can see how there might be advantages to caching the actual audio.  If you're still interested, on that basis,  try this: [feature/cache](/natumbri/mopidy-youtube/tree/feature/cache)

Config option required:
[code]

Basically untested; feedback a

[2021-08-08 12:16] natumbri commented on #34
I'm thinking about adding file caching, which passes a file on a disk to gstreamer.  Using a cached file, rather than the file direct from YouTube might solve any seeking issues.

New branch here: [feature/cache](/natumbri/mopidy-youtube/tree/feature/cache)

Config option required:
[code]

Feedback appreciated.

[2021-08-08 12:20] natumbri commented on #171
There have been some requests for a caching option; I'm thinking about doing it.  One of the things it may assist with is expiring urls.  If you'd like to give it a try, see here: [feature/cache](/natumbri/mopidy-youtube/tree/feature/cache)

Config option required:
[code]

Feedback appreciated.

[2021-08-09 00:14] BrainStone commented on #131
Not sending a HTTP request is always a good thing. Especially when there are rate limits. And even more so if that data is being queried. I remember very slow loading times with playlists full of YouTube videos.

[2021-08-13 23:22] natumbri opened #199 "Add to LikedOnYTM mopidy Playlist submits 'like' to YTM"
When a track is added to the 'LikedOnYTM' mopidy playlist, 'like' the track on YTM. Do the opposite for 'DislikedOnYTM'. Change to indifferent when removed from playlist. This might help to train the autoplay algorithm?

Do other backends do this kind of thing (allow feedback, generally)? Is it even possible? Doesn't sound hard...

[2021-08-17 02:25] natumbri commented on #131
Thanks @BrainStone - I just can't see how to effectively implement further caching of metadata.  Are you interested in testing the new branch?  If not, I'll close this issue.

[2021-08-17 02:27] natumbri commented on #176
@djmattyg007 are you at all interested in having a look at this - no worries if not, but let me know and if you aren't, I'll close this issue.

Cheers.

[2021-08-17 02:28] natumbri commented on #181
@T0MuX  am I ok to close this issue?  I've merged everything into [develop](/natumbri/mopidy-youtube/tree/develop).

[2021-08-17 02:29] natumbri commented on #197
I'm happy that it is working now.  Closing.

[2021-08-17 02:29] #197 closed, assigned to nobody

[2021-08-17 02:31] natumbri commented on #193
@afredsa are you interested in testing this?  I've merged everything into [develop](/natumbri/mopidy-youtube/tree/develop).  No problem if you don't want to test - but let me know and I'll close off the issue.

[2021-08-17 02:33] natumbri commented on #34
@pmb6tz @lukasmrtvy @BrainStone is anyone interested in testing this? I've merged into [develop](/natumbri/mopidy-youtube/tree/develop).  Would be interested to hear if it helps, or if you're no longer interested (in which case I'll close the issue).

Cheers.

[2021-08-17 02:35] natumbri commented on #184
I merged this into [develop](/natumbri/mopidy-youtube/tree/develop), so I'm closing the issue.  Thanks everyone for the help.

Cheers.

[2021-08-17 02:35] #184 closed, assigned to nobody

[2021-08-17 08:13] afredsa commented on #193
@natumbri, thank you.  I am away and have limited time right now, however,  I have tried both the things above your latest check but they did not seem to work... exactly.

Setting the cookie seemed to change getting metadata in IRIS FE(front end) to be seen on "Now Playing" but only intermittently????. There was no change to the search which is returning no results or to the playlist metadata load

[2021-08-17 10:06] kingosticks commented on #193
Could it be that this [regex ](https://github.com/natumbri/mopidy-youtube/blob/develop/mopidy_youtube/apis/youtube_bs4api.py#L27) is greedy and is matching more than just the json structure you want, which then fails when you try and parse it? Try changing it to:
[code]
Or add some debugging around there and see what you are actually matching.

[2021-08-17 10:53] djmattyg007 commented on #176
I am, I just haven’t had a chance yet. I’m stuck in lockdown for at least another two weeks, so hopefully I’ll have time this weekend 👍

[2021-08-17 12:50] natumbri commented on #193
Thanks @kingosticks - I don't reckon that's the problem, but fixing that regex up is a good idea in any case. I'll look into it. (It _might_ be the problem, but I have a feeling it is something else.)

I'm going to simplify things shortly, by getting rid of the regex and bs4 based APIs and keeping only the official API, the JSON based one and YouTube Music. Hopefully fewer of these types of issues

[2021-08-17 13:06] natumbri commented on #176
Thanks @djmattyg007 - yeah, lockdown (now with curfew) sucks. Will be interested to hear if it works for you (and any ideas you might get have).

PS. I got bored and merged it into develop, so that's the one you need.

[2021-08-17 13:45] kingosticks commented on #193
I saw a related issue for some other project where their regex was catching a load of random javascript that had suddenly appeared after the json struct they wanted and of course the json decoder complains about that. Worth a try!

[2021-08-17 17:30] natumbri commented on #193
For sure.

But also, the version of the code you linked to, but which @afredsa appears _not_ to be using (despite his efforts), no longer uses the regex for searches. It is still used for other things, just not `search`. Instead of a `session.get` to a browser endpoint (which returns a webpage, complete with HTML, JavaScript and JSON, burried somewhere), `search` now uses a `session.post` to the `

[2021-08-17 23:06] djmattyg007 commented on #176
Oh, are you in Melbourne too?

[2021-08-18 02:49] natumbri commented on #176
Yep, sure am. WFH, home schooling, curfew, the whole box and dice.

[2021-08-18 04:39] afredsa commented on #193
Hello,

I uninstalled mopidy_youtube and then installed develop branch.

All searchers are now working!  Thank you.

[code]
Since you are working with KOS I am not sure if I should close.  Feel free to close, OR/and if you like I can do more testing, send logs, etc. (like if a new regex is created).  Thank you again.

[2021-08-18 04:44] natumbri commented on #193
Great - I think this can be closed; I will take up @kingosticks useful suggestion, but no need to keep this issue open, I think.

Thanks @afredsa for your patience and for going through the testing and providing feedback. I'm glad to hear it's working for you.

[2021-08-18 04:44] #193 closed, assigned to nobody

[2021-08-18 16:17] BrainStone commented on #131
I would but sadly I currently don't use mopidy anymore. (nor any other similar things)

[2021-08-18 16:18] BrainStone commented on #34
I currently don't use this software anymore. But if I would I'd still be interested, fyi.

[2021-08-18 17:45] kingosticks commented on #34
Did you ever try https://docs.mopidy.com/en/latest/api/backend/?highlight=should_download#mopidy.backend.PlaybackProvider.should_download for this @natumbri ?

[2021-08-18 22:25] natumbri commented on #34
That's a good question @kingosticks! Somehow it ended up in the [PlaybackProvider](https://github.com/natumbri/mopidy-youtube/blob/a3e44b2542d386a395795e191ac122adf3355398/mopidy_youtube/backend.py#L412) but I'm not convinced that I ever tested it, or even thought carefully about whether it is a good idea for this extension.

[2021-08-18 22:30] natumbri commented on #131
Thanks for letting me know.

[2021-08-18 22:30] #131 closed

[2021-08-18 23:29] kingosticks commented on #34
I would have thought it'd make an impact (good or bad) for an issue like this.

[2021-08-19 02:21] natumbri commented on #34
Yeah, absolutely it seems relevant. I will have a look at it - thanks for raising.

[2021-08-25 07:01] LeafyLappa opened #202 "No titles or previews"
Hi!

On my mopidy instance the extension seems unable to fetch or parse titles and thumbnails.

<img src="https://user-images.githubusercontent.com/31704619/130740723-b2dd073d-da3b-426c-becf-ba6569d540c2.png" width="70%" height="70%">

(here using iris, same issue with moped)

This makes organizing videos pretty much impossible. Audio does play as expected. Is this a misconfiguration on my behalf,

[2021-08-25 07:04] LeafyLappa commented on #202
On second thought using video id as track title seems intentional, but is it possible to see the title of a video anyhow?

[2021-08-25 21:51] AndreKR commented on #131
I have been testing this feature and it works great. It's a bit confusing that it will *first* cache the whole song and mopidy is unresponsive in that time (can't even change the volume), but once the song is in the cache it works much better than before: It starts instantly and even seeking works. :+1:

[2021-08-26 09:38] LeafyLappa commented on #202
Going through the source code of this extension I found that my track titles are in fact empty. At the same time making a manual API call with the same params as done programmatically yields a correct response:

[code]

I'm not great at python so with all the concurrency in this project I'm not yet sure how to debug it to see what goes wrong.

[2021-08-26 13:17] natumbri commented on #202
Hi @LeafyLappa - thanks for taking the time to try the extension and provide feedback. I just installed Iris today, to have a look for myself and it seems to be working just fine - I get titles and thumbnails.

Could you try with YouTube Music enabled? You don't need to get an API key or cookie, just set the relevant option to `True` in your config.

[2021-08-27 06:55] LeafyLappa commented on #202
Does not seem to make a difference:

<img src="https://user-images.githubusercontent.com/31704619/131085291-81f66c5c-018b-483a-8fe6-3c9d336f5d14.png" width="70%" height="70%">

[Video](https://music.youtube.com/watch?v=WNeLUngb-Xg) that I tried adding.
I'm using mopidy 3.1.1, mopidy-youtube 3.3, youtube-dl 2021.6.6 from pip.
I also tried creating and using an API key, to no avail.

mopidy.conf:
[c

[2021-08-27 07:01] LeafyLappa commented on #202
I just tried adding another [video](https://www.youtube.com/watch?v=kJQP7kiw5Fk) and I got both its title and thumbail:
<img src="https://user-images.githubusercontent.com/31704619/131086034-e1d2164e-cbae-43d3-8999-c6075e1802b2.png" width="70%" height="70%">
It seems adding videos or playlists via search works as it should but adding anything directly (via `iris/queue/add-uri` endpoint) does not.

[2021-08-27 12:29] natumbri commented on #202
Thanks. Weird; it seems to work for me, including with the Video that you tried adding [here](https://github.com/natumbri/mopidy-youtube/issues/202#issuecomment-906971021).

Any chance you'd be interested in trying out the [pre-release next version of the extension](https://github.com/natumbri/mopidy-youtube/tree/fix/deprecate-bs4api)?  It gets rid of a bunch of stuff that is of no or only margina

[2021-08-31 20:44] fbievan opened #203 "Some bugs i've encountered"
Here specifying a valid Channel ID here causes this
[code]

Also would like to Note down another bug:
Essentially searching anything which is not a valid Title just causes
[code]
Forever until killed
And also trying to load playlists here for me causes
[code]
Note clearly stated Playlist ID Is at the top

[2021-08-31 20:59] fbievan commented on #203
Updated to most recent develop branch and well
[code]
Comes from playlist
The bug about a non valid title still persists it loops trying japi

[2021-08-31 21:12] fbievan commented on #203
Alright so
![image](https://user-images.githubusercontent.com/17110707/131576360-b84531de-6a78-4fc8-ac95-97909a1a04bc.png)
It actaully shows but it uh just doesnt load the playlist?

[2021-08-31 21:16] fbievan commented on #203
Youtube playlists work great on most recent version, although iris has some problems with it.

[2021-08-31 21:57] natumbri commented on #203
@fbievan thanks for your feedback. Can you give me an example of a non-valid title that causes the looping problem?

Have you tried this branch: [deprecate-bs4api](https://GitHub.com/natumbri/mopidy-youtube/tree/fix/deprecate-bs4api)?

[2021-09-01 15:16] LeafyLappa commented on #202
Thank you, I tried reinstalling the extension with the link you gave and now everything works! I did exactly nothing else.

<img src="https://user-images.githubusercontent.com/31704619/131696227-f141c867-6e8f-4bc9-a440-bc4a5154dcca.png" width="70%" height="70%">

Even playback history works now, and it didn't before. In fact, the extension is now even able to play videos unavailable in my country,

[2021-09-04 11:47] #181 closed, assigned to nobody

[2021-09-13 23:15] fbievan commented on #203
Sprry for the delay, yes I've tried that branch and it fixes 90% of what I've mentioned here. I will be closing this now

[2021-09-13 23:15] #203 closed, assigned to nobody

[2021-09-14 04:50] wrkzk opened #204 "Search does not work"
Every time I try to search for a track, I get this error: `YouTubeBackend does not implement library.search() with "exact" support. Please upgrade it.`

[2021-09-14 07:35] natumbri commented on #204
thanks @wrkzk - try the latest version

[2021-09-14 07:37] natumbri commented on #202
@LeafyLappa - not sure... I've just pushed a new version; give it a try

[2021-09-14 07:39] natumbri commented on #203
@fbievan - I just pushed a new version, which incorporates the deprecate-bs4api branch changes, if you're interested

[2021-09-14 07:41] #176 closed, assigned to nobody

[2021-09-14 07:46] #152 closed, assigned to nobody

[2021-09-14 15:04] wrkzk commented on #204
I am not sure if this is particularly relevant to this issue, but I am running NixOS, and when I try to override the source to pull directly from the latest version of this repository like you suggested, I get this error:

`Could not find a version that satisfies the requirement ytmusicapi>=0.19 (from mopidy-youtube) (from versions: none)`

[2021-09-14 22:47] natumbri commented on #204
Hmmmm... Are you able to install the current versions of `mopidy-youtube` and `ytmusicapi` from PyPI?  I'm not sure how NixOS works, but on other systems something like
[code]
should do it (maybe with an `sudo` at the front, depending on how it is configured).

[2021-09-15 17:13] wrkzk commented on #204
I think this is definitely a NixOS specific issue, not an issue with mopidy-youtube. I tried it in a vm and it works with the new release.

[2021-09-15 17:13] #204 closed, assigned to nobody

[2021-09-22 23:05] fbievan commented on #203
I definitely will check  it out

[2021-09-27 15:48] Rhalah opened #207 "Help with config errors"
Hello!
I'm trying to use Mopidy-youtube without success.
Followed instructions at github project page but get the error below after running "sudo mopidyctl config":

=================
[youtube]
enabled = false  ; Extension disabled due to config errors.
youtube_api_key =
threads_max = 16
search_results = 15
playlist_max_videos = 20
api_enabled = false
autoplay_enabled = false
strict_autoplay = fal

[2021-09-27 21:33] natumbri commented on #207
That's strange! The config looks fine to me - I'm not really sure where to start in terms of fixing this. Maybe have a look in the log for mopidy?

[2021-09-28 14:36] Rhalah commented on #207
@natumbri:

Solved.
My fault. Sorry.
Extension enabled after I removed "allow_cache" config option.

[2021-10-03 11:18] VergeDX commented on #204
Same issues on NixOS 21.05.

[2021-10-03 19:56] LeafyLappa commented on #202
Everything seems to work, I'm closing this issue. Thank you!

[2021-10-03 19:56] #202 closed, assigned to nobody

[2021-10-04 03:04] natumbri commented on #202
Good to hear! Thanks for the feedback

[2021-10-15 06:48] natumbri commented on #131
@AndreKR I'm thinking about how to fix up the issue where it first caches the whole song and everything freezes, and then it starts working once the song is in the cache.  I've made a [new branch](https://github.com/natumbri/mopidy-youtube/tree/fix/start-playing-while-caching) here for testing out ideas.  If you're interested, have a go and let me know your feedback.

Cheers,
Nik

[2021-10-16 08:27] thanxx opened #208 "Bandwidth throttling"
Hello,

a few months back I started noticing that loading of some of the tracks takes forever and freezes down the Mopidy process until the download is finished.
Just wanted to ask other users to comment here if they were facing the same issue when using this extension.

Googling led me to this issue https://github.com/ytdl-org/youtube-dl/issues/29326 , and as I understand the solution is to use *

[2021-10-18 12:31] pctablet505 commented on #208
even yt-dlp is throttling now.

[2021-10-23 19:41] Dzordzu commented on #160
Whis aged veeery bad. So as I promised, I've created code that allows dynamic library switching. It works on my setup

[2021-10-23 19:56] Dzordzu commented on #160
Also, damn me. Why I had to be right about it :(

[2021-10-23 22:23] natumbri commented on #160
Thanks - I'll have a look. First impression is that it all seems a bit complicated? Why not just use something like `youtube.youtube_dl_library = config["youtube"]["youtube_dl_library"]`  (with a default of `youtube_dl`) in backend.py, then `youtube_dl = importlib.import_module(youtube_dl_library)` in youtube.py?

[2021-10-24 00:04] Dzordzu commented on #160
I was thinking about that at first, but droped this idea. If you wish I can change it :3

[2021-11-04 10:01] #207 closed, assigned to nobody

[2021-11-04 10:03] natumbri commented on #208
#211 adds support for setting the ytdl package by a config option. Use  yt-dlp or any other youtube_dl compatible package you like.

Cheers
Nik

[2021-11-04 10:03] #208 closed, assigned to nobody

[2021-11-04 10:05] natumbri commented on #160
#211 added the option to set youtube_dl package by config option.

[2021-11-04 10:05] #160 closed, assigned to nobody

[2021-11-04 13:22] Dzordzu commented on #160
Just want to say - thank you @natumbri :)

[2021-11-04 19:09] natumbri commented on #160
Thanks to you, too @Dzordzu - appreciate the suggestion and ideas for how to implement.

[2021-11-04 19:10] natumbri commented on #160
Thanks to you, too @Dzordzu - appreciate the suggestion and ideas for how to implement.

[2021-11-07 04:22] dualfade commented on #134
@natumbri confirmed works. Nice. Thanks !

[2021-11-12 17:43] Mikka123T opened #212 "Cannot uninstall Mopidy-youtube"
there is an issue with the plugin. It started to use cca 1.6M bandwith even when not used (the servers connected to are Google servers). It helped to uninstall the plugin (network usage dropped to 0), I then installed mopidy-youtube again and the issue (1.6M constant download from google) apeared again. Now I cannot unistall Mopidy-youtube plugin. Here is error message
Exception:
Traceback (most r

[2021-11-12 17:53] Mikka123T commented on #212
As being a non programmer, I forgot to use sudo in from. Appologies for this stupid post.

[2021-11-12 17:53] #212 closed, assigned to nobody

[2021-11-15 22:53] mgrouch opened #213 "Stops playing songs for no apparent reason"
There is an error in logs:

ERROR    [MainThread] mopidy.audio.gst GStreamer error: Forbidden

[2021-11-16 02:33] mgrouch opened #214 "Not playing from playlist. Starts retrieving 4 seconds, then zeroes out and another 4 seconds"
Not playing from playlist. Starts retrieving 4 seconds, then zeroes out and another 4 seconds
and continues that in a loop.
Doesn't play songs most of the attempts.
Not sure if it is yourtube-dl issue or something else.
There is no errors in a log in this case

[2021-11-23 22:03] TheEgghead27 commented on #213
This has been an issue for me too, commenting to subscribe to any future developments on this thread

[2021-11-24 09:23] natumbri commented on #213
Thanks both - without more information there's not much I can do. Is it happing for all videos or just one? How is your mopidy configured?

[2021-11-25 01:37] TheEgghead27 commented on #213
It is quite sporadic, I can queue up a YouTube playlist using the appropriate URL format, play a couple of songs, but after an undiscernible amount of time, the system freezes when it tries to change to the next track. It is possible to issue a skip command to jump over a freezing track and transition to the next one, but it still takes quite a while for the command to be processed. I will look in

[2021-12-02 09:26] drodange opened #215 "Issue without the youtube_api_key"
Hello,
Writting this because i'm having some issues with mopidy-youtube when i'm not specifying the youtube_api_key.

In my mopidy config, i didn't change anything, except for youtube :
[youtube]
enabled = true
channel_id = ( not working with any channel ID )
api_enabled = false

My issue come when i'm trying to go through the "youtube channel playlist" with ncmpcpp or with the frontend Iris
the m

[2021-12-02 10:40] natumbri commented on #215
Thanks for your report, and sorry to hear it is not working for you.

You should be able to browse youtube channel playlists without a youtube_api_key - that is how I use mopidy-youtube, and it works just fine for me.  Can you give an example of a channel_id that does not work for you?

[2021-12-02 12:38] drodange commented on #215
Thanks for the fast answering

I tried with 3 or 4 channel id like for example :

Blues & Jazz : UC9zktRjA2aI7cEZOfkDqmLg
Skillet : UCE8NoMFnai3tTuwdiQJ-78A

Both were returning the error : Channel.list_channelplaylists error ""

But, after enabling the api_key , it worked fine. ( I would prefer it to work without the key , but i can deal with it until i fix my issue )
Might be an issue with the n

[2021-12-02 16:55] natumbri commented on #215
Thanks - yes, with those playlists, I get the same error. I will investigate!

Thanks again for raising and for following up with more info.

Cheers
Nik

[2021-12-04 19:05] Dzordzu commented on #214
Probably a yt-dl issue. Check develop branch with a fix to this

[code]

[2021-12-08 11:06] natumbri commented on #215
I made a new branch [fix/issue-215](/natumbri/mopidy-youtube/tree/fix/issue-215) - I think it is fixed. If you could test and report back, that would be great!

Cheers,
Nik

[2021-12-08 11:08] natumbri commented on #125
Not much point keeping this open, given the bs4api has been deprecated.

[2021-12-08 11:08] #125 closed

[2021-12-08 13:14] drodange commented on #215
Hi,
I just tested the fix/issue-215.
It now works fine for the channel_id I sent you before.

Thanks for the work.
Regards

[2021-12-09 04:19] #215 closed, assigned to nobody

[2021-12-12 21:34] Dzordzu commented on #160
Well, dependency is still present and it can provide issues during youtube-dl uninstallation process

[2021-12-12 21:34] Dzordzu commented on #160
@natumbri IMHO, it (this dependecy) should be removed

[2021-12-12 22:01] natumbri commented on #160
@Dzordzu - could you please point to where - youtube_dlc isn't a dependency, as far as I can tell...

[2021-12-15 22:25] Dzordzu commented on #160
I mean youtube-dl dependency. Now it's getting out of hand during removal of the system package. Maybe we should consider removing it? And add list of possible packages in the readme?

[2021-12-15 22:26] Dzordzu opened #218 "Next release"
Just a question, when a new release is planned to be published :)

Reasons:

* #213
* #214
* Discussion under #160

[2021-12-15 22:28] Dzordzu commented on #213
Hi. Apparently it's a youtube-dl issue. The package has been abandoned. The fix is ready on the development branch. There you can pick either youtube-dl or yt-dlp (or anything that is yt-dl compatible) as the backend for the mopidy-youtube

[2021-12-16 02:54] natumbri commented on #160
Oh right - you mean remove `youtube-dl` as a dependency.

Do you think there has to be a default ytdl package? If so, whatever the default is should be a dependency, shouldn't it?

Or are you saying have no default, and no dependency, and just tell people that they have to pick one and install it when they install mopidy-youtube, much in the same way people are told they need to separately install

[2021-12-16 02:57] natumbri commented on #218
Yeah, I hear ya. Will try to get on it - busy time of year.

[2021-12-16 09:58] Dzordzu commented on #218
Understandable. same here ;)

[2021-12-16 10:07] Dzordzu commented on #160
As of now - no. There was no response from the developer and community is still during the process of migration to the yt-dlp.

Yep. We can try it **for a very few months**. Let's say to the release following the next one. It just needs to be quite high in the documentation and error handling of missing youtube-dl alternative (maybe with links to both of the packages) must be visible in the main l

[2021-12-18 01:55] fbievan opened #219 "Trying to play playlist, basically causes the mpd connection to just go insane"
[code]

[2021-12-18 01:56] #219 closed, assigned to nobody

[2021-12-18 01:59] fbievan opened #220 "Trying to playlist causes mpd connection to go insane"
[code]

Which eventually goes to

[code]

[2021-12-18 02:01] fbievan commented on #220
![image](https://user-images.githubusercontent.com/17110707/146625362-6edab62e-9889-40f0-97b3-7b0bc16adde3.png)

[2021-12-19 02:39] mgrouch commented on #213
Where can we pick up the fix? What was changed and where?

Thanks

[2021-12-19 02:57] mgrouch commented on #218
will

[code]

install above mentioned fixes?

Thanks

[2021-12-20 03:06] natumbri commented on #220
How odd.  Adding `yt:playlist:PLey33PeMtXtf9wqZglQi7mMiX5OK1SI77` in musicbox_webclient works just fine for me; as does `mpc add yt:playlist:PLey33PeMtXtf9wqZglQi7mMiX5OK1SI77`; as does adding `https://www.youtube.com/playlist?list=PLey33PeMtXtf9wqZglQi7mMiX5OK1SI77` using the new mopidy-youtube webclient.

Are you able to provide any further details?

[2021-12-21 02:51] natumbri commented on #218
New release released; not properly tested, so fingers crossed!

[2021-12-21 02:51] #218 closed, assigned to nobody

[2021-12-21 02:54] natumbri commented on #213
New release released.  If you wish to use an alternate youtube-dl library, in your configuration file you must install the package, (for eg. with pip) and set the youtube_dl_package option:
[code]
Compatible (and possibly more up-to-date) libraries may include `yt-dlp` (https://github.com/yt-dlp/yt-dlp) and `youtube-dlc`.

Let me know if this doesn't fix the problem

[2021-12-21 02:54] #213 closed, assigned to nobody

[2021-12-21 02:55] natumbri commented on #214
New release released.  If you wish to use an alternate youtube-dl library, in your configuration file you must install the package, (for eg. with pip) and set the youtube_dl_package option:
[code]
Compatible (and possibly more up-to-date) libraries may include `yt-dlp` (https://github.com/yt-dlp/yt-dlp) and `youtube-dlc`.

Let me know if this doesn't fix the problem

[2021-12-21 02:55] #214 closed, assigned to nobody

[2021-12-22 04:24] mgrouch commented on #213
I've done this:
[code]

edited /etc/mopidy/mopidy.conf

to add
[code]
into [youtube] section

then restarted
[code]

And with

`systemctl status mopidy`

I now see errors like this:

[code]

[2021-12-22 04:27] mgrouch commented on #213
Stopped working completely:
[code]

[2021-12-22 04:48] mgrouch commented on #213
Look like the line in config can't use dash (has to be underscore in package name)

`
youtube_dl_package = yt_dlp

`

[2021-12-22 05:40] natumbri commented on #213
Thanks - yes, it has to be the package name, and the package name has an underscore.  I've made a slight edit to the README to make this a little clearer.

All working for you, now?

[2021-12-22 06:24] mgrouch commented on #213
So far so good. Time will show. Thanks

[2021-12-29 20:51] fbievan commented on #220
Ok, i went for family awhile, and running this in musicbox is fine, so is the mpc command. But ncmcpp just spazzes it out. Ncmcpp seems to timeout.

[2021-12-29 20:58] fbievan commented on #220
Ok, so i just realized, now apparently the search, doesn't just pull from wherever. Adding it in ncmpcpp, actaully works. Closed.

[2021-12-29 20:58] #220 closed, assigned to nobody

[2022-01-18 18:44] romainbonjour opened #222 "browse/lookup not working"
Hi There,
Thanks a lot for this great pluging :-)

I have an issue for which I did not found a fix...

I cannot list anything that I add with this extension. I can add, I can play (reusing the uri).
but if I do a: mpc ls "My Youtube playlists" (or go in Browse/My youtube playlist in IRIS). I do not get any results.

The root problem seems to be around those lines...

`Jan 18 18:26:29 muse mopidy[1

[2022-01-18 20:08] #222 closed, assigned to nobody

[2022-01-25 12:25] djmattyg007 commented on #160
I don't think it's realistic to expect these packages to remain compatible in all the ways we need going forward. Youtube-dl was always first and foremost a command-line utility. They will prioritise stability of the CLI experience (flags, arguments, etc), but I wouldn't expect them to preserve compatibility as a library forever-more.

Therefore I think it should be a priority in the medium term t

[2022-01-27 16:32] sadgrlonline opened #223 "Issue with hanging when searching for something with few results"
Hello! I am using your (amazing) extension with a mopidy setup on my server. I believe I have isolated the problem to this plugin, and I am able to consistently replicate it with multiple mopidy front-ends.

The problem: When searching for a term that might not have a ton of results (like an independent artist, or even a typo of a popular artist), Mopidy hangs. On Iris (a mopidy front-end), it get

[2022-01-27 21:31] natumbri commented on #223
Hi - thanks for the detailed report. That does indeed sound like a `mopidy-youtube` bug! I'll look into it. Are you able to post your `mopidy-youtube` config?

[2022-01-27 23:03] sadgrlonline commented on #223
Sure!

[code]

I also tried with yt-dlp and got similar results.

[2022-01-28 00:13] #223 closed, assigned to nobody

[2022-01-28 00:14] natumbri commented on #223
It was a bug - a `while` loop that never exited if there were not sufficient results. I've pushed a fix.  Are you able to try the `develop` branch?

[2022-01-28 21:30] sadgrlonline commented on #223
I just tested it and it worked! Thank you so much for implementing this!

[2022-01-28 22:00] natumbri commented on #223
Great! Thanks again for the bug report.

[2022-02-04 18:53] klundry opened #224 "Error adding youtube URLs"
Steps I've done:
Install mopiidy-youtube
Install yt-dlp
Install gstreamer1.0-plugins-bad

My relevant config section is this:
[code]

Any time I try to add a youtube URL I get this:
[code]

Can't figure out what I'm doing wrong.

[2022-02-04 20:38] natumbri commented on #224
Try `youtube_dl_package = yt_dlp` in your config.

[2022-02-04 22:47] klundry commented on #224
No change. Get the same error with yt_dlp.

[2022-02-04 22:52] natumbri commented on #224
Well, that was the only obvious problem with your config.  Is there anything revealed in the log file? Usually found at `/var/log/mopidy/mopidy.log`. I'd be looking at start up messages, and anything that comes up when you try to add the track.

[2022-02-05 00:00] klundry commented on #224
Ok, found this in the log.

[code]

[2022-02-05 02:46] natumbri commented on #224
Yep, that's the problem - I should change it so `ytmusicapi` is only imported if you want to use the YouTube Music API. If you don't want to wait for the fix, you could just install the `ytmusicapi` package, for example, by running `python3 -m pip install --upgrade ytmusicapi` (depending on your system; you may also need to do it as superuser).

[2022-02-05 07:00] natumbri commented on #224
I pushed a new commit to the `develop` branch.  If you're able to install from github, it should be fixed.  On a unixy system, you should be able to install from github by running something like:
[code]
Depending on how your unixy system is configured, you may need to install as superuser (eg, using `sudo`).

Give it a try; let me know if it is fixed.

Thanks,
Nik

[2022-02-05 14:24] klundry commented on #224
Thanks! I will give it a try later and let you know.

[2022-02-05 17:02] klundry commented on #224
It works!

[2022-02-14 08:36] hadwinwen commented on #224
@natumbri  Hi,when i add youtube url via mpd client, I get same error.How can I fix it
I tried to reinstall mopidy-youtube
[code]

Here is my modipy.conf
[code]

Mopidy startup log
[code]

When I add youtue url via mpd client:
client command:
[code]

server log:
[code]

[2022-02-14 10:19] kingosticks commented on #224
mpc add yt:https://www.youtube.com/watch?v=9vodga3_Nog

[2022-02-14 10:25] natumbri commented on #224
Thanks @kingosticks

[2022-02-14 10:49] hadwinwen commented on #224
@kingosticks @natumbri
It's ok,thank you

[2022-03-06 22:11] jagjordi opened #225 "Error with urlparse"
Hello,
I am getting the following error.
[code]
Is this a problem related directly with youtube extension or maybe its something else?
Trying to manually install urlparse returns  this:
[code]
From what I can see online, urlparse package is not longer existing in Python3 and instead one should use urllib. Is this the cause of the error?

[2022-04-05 17:42] drawanon opened #226 "yt-dlp colors"
I found out, that using `yt-dlp` backend messes up the float parser

`[17181:YouTubeCoreListener-9] mopidy_youtube
  audio_url error could not convert string to float: '\x1b[0;94m  0.0\x1b[0m' (videoId: WGgEFoI9MhE)`

i think it's related to this line
https://github.com/natumbri/mopidy-youtube/blob/3fc5cc89081b4e58ad232233e5b9ac358cf7b775/mopidy_youtube/youtube.py#L357

my quick solution was to ad

[2022-05-22 14:55] blueyshark opened #227 "Unknown config key for dl_package."
Hi there, having trouble getting the YT extension running. I have installed the latest extension version, mopidy and yt-dlp packages.
My etc/mopidy/mopidy.conf entry for YT looks like this currently:

I have tried variations with both a hyphen, a long dash, and an underscore with the "yt-dlp" entry, but I get this every time when I use
sudo journalctl -u mopidy

What am I doing wrong? I appreciate

[2022-05-22 22:14] natumbri commented on #227
[code]

It's fussy about `-` vs `_`.  I should probably improve the error message.

Cheers
Nik

[2022-05-22 22:17] #224 closed, assigned to nobody

[2022-05-25 16:47] krtwastaken opened #228 "Extension failed during setup"
Hello, I can't get the extension to work. I get this error in mopidy starting log:
[code]
Giving my almost non-existent understanding of what I'm doing it's a miracle that I managed to get everything beside this to work. Can I get some help?

[2022-05-25 20:29] natumbri commented on #228
Congratulations on getting that far. Looks like you need to install the `ytmusicapi` python module. Something like this should do it:
[code]
Depending on your configuration, you may need to run that as administrator (eg with `sudo`).

Cheers
Nik

[2022-05-25 20:41] krtwastaken commented on #228
Thank You, it works now. I thought installing this api is only required when I have music api enabled in the config so I didn't even think about installing it.

[2022-05-25 21:39] natumbri commented on #228
Yes, I think you've found a problem that I should fix. The documentation suggests that `ytmusicapi` is only required when that API is enabled, but - as you have discovered - that's not actually what happens.

I'm going to reopen this issue to remind me that this needs attention.

Thanks!

[2022-05-27 14:10] blueyshark commented on #227
Hi @natumbri
unfortunately I'm still getting the same error - which leads me to believe maybe I'm doing something wrong in the configuration elsewhere?

and sudo `journalctl -u mopidy` output in full

Any ideas? Thanks for any assistance!

[2022-05-27 21:54] natumbri commented on #227
That seems strange. Have you tried just the default config?

[code]

[2022-05-29 13:37] blueyshark commented on #227
Hi @natumbri
So I tried the default config as you suggested - which made some progress, and the extension now loads:

So that's good. But I've now run into another issue - any searches, or browsing, produces zero results. Just a
`No tracks found...` message.

I see that some users are pointing to consent cookies? Might this be an issue? Unfortunately compiling in python is a little above my dillet

[2022-05-29 21:43] natumbri commented on #227
@blueyshark looks like you have an old version of `mopidy-youtube`. How did you install it?

[2022-05-30 10:39] blueyshark commented on #227
@natumbri Hello again, thanks so much for the help, I really appreciate it.
Here's how I update and the output:

[2022-05-30 11:21] natumbri commented on #227
Looks like the current version of `mopidy-youtube` is installed in `./.local/lib/python3.7/site-packages`. Is there any chance that an older version is also installed  in `/usr/lib/python3/dist-packages` (where `mopidy` is installed) or `/usr/local/lib/python3.7/dist-packages` or similar?

Perhaps you originally installed `mopidy-youtube` using `sudo`?

[2022-05-30 11:34] blueyshark commented on #227
Hi @natumbri

I tried the `sudo` approach too

[2022-05-30 11:46] natumbri commented on #227
Your problem is that the one in `/usr/local/lib/python3.7/dist-packages` is version 3.2

`sudo python3 -m pip install -U Mopidy-Youtube` should fix it. (Or break it worse 🙃)

[2022-05-30 12:05] blueyshark commented on #227
Hi @natumbri
Looks like it is totally wrecked 😂

[2022-05-30 12:19] natumbri commented on #227
Nope - you're now on the right track. Install the `ytmusicapi` module and you'll be in business.

[code]
That include is a bug that I haven't tidied up yet.

[2022-05-31 16:36] blueyshark commented on #227
This all worked PERFECTLY.

So was the issue down to user/permissions? Should I always install using sudo when using Mopidy (it's the only thing running on this particular Pi, well that and Syncthing)

[2022-05-31 23:23] natumbri commented on #227
Glad it is working for you.

I think, typically, something like `mopidy` (and it's extensions) should be installed as `root`, which results in it being available to all users, including system processes and users. I guess if you were sharing a machine, or you didn't have root access, it might make sense to install it in a particular user's local library.

Best of luck, and thanks for persisting. F

[2022-05-31 23:23] #227 closed, assigned to nobody

[2022-07-08 22:54] mgrouch opened #229 "Started getting mopidy_youtube list_videos error """
Started getting mopidy_youtube list_videos error ""

I didn't change me set-up which worked before just recently.

Thanks

[2022-07-09 05:02] natumbri commented on #226
fixed in v3.6; thanks.

[2022-07-09 05:02] #226 closed, assigned to nobody

[2022-07-09 14:20] mgrouch commented on #229
whole mopidy server stops responding to http requests after that

[2022-07-09 14:21] mgrouch commented on #229
see also

https://github.com/mopidy/mopidy/issues/2056

[2022-07-09 14:51] mgrouch commented on #229
same issue exists after upgrading to 3.6 version

[2022-07-10 02:47] natumbri commented on #229
Thanks for the report - that is odd, it is working for me.

In https://github.com/mopidy/mopidy/issues/2056 you say:

What do you mean by 'visit'?  What are the steps you take to 'visit' a playlist?

Cheers,
Nik

[2022-07-10 02:57] mgrouch commented on #229
I just click on playlist in musicbox or iris.
Result is same.

[2022-07-10 08:32] natumbri commented on #229
Thanks - because this is not happening for me, if I'm going to be able to help you, you're going to need to describe what you do in pretty careful detail. What playlist? Click where?

[2022-07-10 09:40] Chreece commented on #229
I'm getting:
`ERROR    [ThreadPoolExecutor-4_0] mopidy_youtube list_videos error "'videoPrimaryInfoRenderer'"`

I have playlists added to mopidy that contain exclusively youtube playlists. Since update to 3.6 I can't play any of the playlists. Mopidy get stuck. The other plugins (Mixcloud etc) are working ok.
I tried to search through IRIS a youtube playlist and play it afterwards which also got t

[2022-07-10 12:16] natumbri commented on #229
Can you post links to some not working playlists?

[2022-07-10 12:44] mgrouch commented on #229
Example

https://github.com/bareboat-necessities/lysmarine_gen/blob/buster/install-scripts/4-server/files/BBN-Playlist.m3u8

[2022-07-10 13:16] natumbri commented on #229
Thanks.

`youtube:video/WILLY WILLIAM FEAT NATTY RICO MIKA V - Le Tour Du Monde (Album Edit).doNlCgv-wNs` is private. I think that is the problem.  Looks like it needs to handle inaccessible playlist items more gracefully.

Any playlists that _don't_ include private videos that don't work?

[2022-07-11 06:03] #228 closed, assigned to nobody

[2022-07-14 21:53] eiland-asbl opened #231 "variable bitrates confusing my legacy amplifier"
okay, its really my problem, but i have a legacy amplifier, a [TX-8050](https://www.intl.onkyo.com/products/hi-fi_components/receivers/tx-8050/index.html) , and it has a hard time when i switch between youtube items, the first one is played fine, but then, when i switch to another one, it gets really confused to the bitrate (i assume) and starts playing super warped (slow).

i tried forcing mopidy

[2022-07-15 01:34] natumbri commented on #231
Interesting issue, and not something that I've ever come across. I also use an older amplifier (NAD T754). I feed an analog signal generated by an external DAC.  My amp doesn't have a USB input, but I have previously had success feeding it a digital signal by SPDIF.

Perhaps you could try limiting the formats that mopidy-youtube uses?

In `youtube.py` at around line 415 is the code that sets the p

[2022-07-15 14:30] dionorgua commented on #199
Related issue:
https://github.com/mopidy/mopidy/issues/327

[2022-07-15 19:49] eiland-asbl commented on #231
i turned it into "format": "mp3", but then it triggers errors :(

[code]
oh and did i mention that with the original setup my computer has no problem playing the audio decently?

[2022-08-15 19:42] Speculative opened #232 "Playlists only loading 50 items"
Hi @natumbri,

Thanks for this plugin. I'm having an issue where, in a playlist of 100+ items, only 50 are shown. When `playlist_max_videos` is < 50, it applies, but for values > 50 the playlist caps at 50.

I'm using version 3.6.1

My `mopidy.conf` is:
[code]

Related: #129

[2022-08-15 20:52] Speculative commented on #232
I should note that this bug is only for jAPI, with an API key it seems to work fine.

[2022-09-29 01:05] jeremih opened #233 "YT Playlists added in wrong order"
Hey! Really loving this extension, esp for single tracks.

However, I haven't been able to add a youtube playlist through this extension while preserving the playlist order. I have tried adding the same playlist to two different mopidy servers and both added the playlist with different, wrong orders. If this is a premium-only feature, please add that to the readme.

Thanks!

[2022-09-29 01:31] jeremih commented on #233
Oh, seems I just needed to enable `ytmusicapi`.

[2022-09-29 01:42] natumbri commented on #233
Thanks for the feedback - is it all working now?

If you like mopidy-youtube, you might be interested to check out https://github.com/natumbri/mopidy-tubeify - very much a personal project/work in progress, but it kinda works.

[2022-09-29 02:42] jeremih commented on #233
Cool! I'll take note of that. Seems to be working fine now.

[2022-09-29 02:42] #233 closed, assigned to nobody

[2022-10-07 06:16] natumbri opened #234 "Login to YTMusic broken with cookiefile?"
It seems that while the  new `musicapi_cookiefile` option does result in higher quality audio for premium accounts, it messes up the YTMusic login, so when you try to list channel playlists, it doesn't work:

[code]

With the same cookie pasted into `musicapi_cookie` (instead of loaded through `musicapi_cookiefile`), it works (but no more high quality audio, as expected).

[2022-10-08 19:24] fatg3erman opened #235 "FR: Allow lookup of playlists using 'find' command"
Mopidy-Spotify used to accept the MPD command

find file spotify:album:spotifyalbumid

to lookup an album uri and return the full track listing . It'd be great if I could do the same with a yt:playlist: Uri, otherwise all I can see for a lot of youtube music search results is something like 'Album: Album Name' which isn't very helpful when you're looking for a specific track.

[2022-10-08 22:41] natumbri commented on #235
Interesting - can you give more details, and a working example, so I can play along at home?

[2022-10-09 01:50] fatg3erman commented on #235
Hard to give an actual example because I cancelled my Spotify Premium subscription when they switched off libspotify, so here's one I made up:

[code]
As the writer of a Mopidy client that's not very useful. It's a an album that only has one "track", and when the user selects that track it actually adds the entire album to the play queue, which is not what the user expects and leads to a poor expe

[2022-10-09 05:11] natumbri commented on #235
I'm not exactly sure what's required, but try this: 532874e93bf94a1a5f7c44aee83bbc22997dd2ef

[2022-10-09 09:42] fatg3erman commented on #235
It works but it creates a new problem.

When I look up the playlist, if it's a Youtube Music album it returns the correct artist (ie not 'YouTube Playlist (20 videos)') which means I can't associate it with the item in the UI.

It would be preferable if the initial search result returned the Artist info too, instead of 'YouTube Playlist (20 videos)'

[2022-10-09 11:01] natumbri commented on #234
I think some extra `"` are the problem. A `.replace()` seems to help. I wonder if there is a proper way to do this?

https://github.com/natumbri/mopidy-youtube/blob/develop/mopidy_youtube/backend.py#L140-L144

[2022-10-09 11:03] natumbri commented on #235
I think that can be fixed.

https://github.com/natumbri/mopidy-youtube/commit/35bc118d5f93d053d0322b8da2eeab592df48ebf

Probably need to do some testing, but seems ok.

[2022-10-09 11:40] fatg3erman commented on #235
Yeah! So far that works beautifully. Thanks for the fast response!

[2022-10-09 15:26] fatg3erman commented on #234
This is currently working for me on one system but not another.
Kubuntu 22.04, running from a console, playback works.
Raspberry Pi OS (latest), mopidy running as a service with yt-dlp installed from pip (because it's not in the repo)
I can't play anything back. It works if I revert to musicapi_cookie.
Don't know if it's relevant but I can see a Destination: /var/cache/mopidy... in there. I have a

[2022-10-09 15:41] fatg3erman commented on #234
My bad. My cookiefile wasn't writeable by the mopidy user. Fixed that and now it's working.

[2022-10-09 17:35] fatg3erman commented on #234
Are the high-quality streams available for all tracks? I've been testing using yt-dlp to list formats because now I've enabled the cookiefile in mopidy-youtube and signed up for youtube premium, nothing seems to have changed.

`yt-dlp --cookies /path/to/cookie/file --list-formats 9zrYXvUXiQk
`
and I don't see any high quality streams at all.

[code]

[2022-10-09 18:26] fatg3erman commented on #234
If I'm reading your debug output properly it does look like your fix is working and mopidy-youtube is selecting the high quality audio stream (format 141 is 256KBs AAC). Am I correct? if I am then it looks like the cookiefile format is broken, or yt-dlp isn't parsing it properly.

[code]

[2022-10-09 21:01] natumbri commented on #234
Yeah, the best audio format goes from 251 (medium) to 141 (high) when it is working, I think. So, maybe a yt-dlp issue, as you suggest? That's strange tho, given in mopidy-youtube, for the yt-dlp part, the `Path` of the cookie file is just passed without modification.

Actually, it isn't a `Path`, it's just a string. Probably should be a `Path`.

[2022-10-10 08:26] fatg3erman commented on #234
I discovered something.

If I just pass the video ID to yt-dlp, it doesn't find the high quality format. But if I convert that to a valid music URL, it does:

[code]

[2022-10-10 09:04] natumbri commented on #234
Without the Premium cookie?

In `mopidy-youtube` the whole url gets passed:

https://github.com/natumbri/mopidy-youtube/blob/develop/mopidy_youtube/youtube.py#L435-L441

One of the changes @ReneHollander made was to pass a `music.youtube.com` url, which is necessary for premium. Perhaps if you just pass the command line version a videoid, it uses an ordinary youtube.com url to retrieve?

This seem

[2022-10-10 09:41] fatg3erman commented on #234
OK yeah that makes sense. I am actually passing the Premium cookie, I set it in /etc/yt-dlp.conf because I kept forgetting to add it on the command line :)

[2022-10-10 14:36] fatg3erman opened #236 "FR: Return Track Numbers"
Last one for now, I'm already convinced this is better than Spotify :). I'm pretty sure Youtube Music can return Track Numbers when the track is from an album - but obviously this isn't always relevant for YouTube videos. Is it possible to return them so that they're present when we do a search or retrieve Mopidy's tracklist?

[2022-10-10 20:23] natumbri commented on #236
Ok, I can have a look at that. Shouldn't be too hard.

One of the tricks for me is to continue to have the three ways of accessing YouTube (YouTube API, scraping YouTube, and YT Music through `ytmusicapi`) working (and working at an acceptable speed).

The plugin predates YouTube Music, but I've had in mind for a while to properly support ytm albums and songs - I started doing some of the work, bu

[2022-10-10 21:27] natumbri commented on #236
Ok, I can have a look at that. Shouldn't be too hard.

One of the tricks for me is to continue to have the three ways of accessing YouTube (YouTube API, scraping YouTube, and YT Music through `ytmusicapi`) working (and working at an acceptable speed).

The plugin predates YouTube Music, but I've had in mind for a while to properly support ytm albums and songs - I started doing some of the work, bu

[2022-10-10 21:43] natumbri commented on #236
I couldn't see where track numbers are returned by `ytmusicapi`, but `YTMusic.get_album` does return a list of tracks: assuming that the tracks are always in the right order, the track number could be inferred from the position in that list.

This would require changes to:
- yt_listitem_to_playlist: where the list item includes tracks, add track numbers
- ytm_item_to_video: to add the track number

[2022-10-11 15:08] fatg3erman commented on #236
I've just noticed that when I use the 'find file yt:playlist:....' addition you put in the other day, I DO get Track Numbers.

[code]

But I don't get them in search results. That track had already been found by a search for 'any "Ed Sheeran"' and it came back with no 'Track' field.

[2022-10-11 23:54] natumbri commented on #236
I think it was adding a track number for all playlists, regardless of whether it was an album or not. I've made some changes; would be interested to hear if it is working for you.

I think a track number will only be returned if the track is known to be from a known album.  Anyway, play around, let me know.

[2022-10-13 17:53] fatg3erman commented on #236
Sorry, not had a chance to try it for a few days.

In the testing I've done so far I find I am getting track numbers when I add random Uris to the play qeue.

But, they're often missing from search (they were before) but now when I do the lookup using 'find file' for those albums it doesn't return track numbers like it used to.